body {
  margin: 0;
  padding: 0;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
blockquote {
  margin: 0px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}
table {
  border: none;
  padding: 0px;
  margin: 0px;
  border-collapse: collapse;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
@font-face {
  font-family: "Benton";
  font-weight: normal;
  src: url("../fonts/BentonSans-Regular.otf");
}
@font-face {
  font-family: "Benton-Bold";
  font-weight: bold;
  src: url("../fonts/BentonSans-Bold.otf");
}
body {
  -webkit-text-size-adjust: 100%;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h1,
p {
  color: #858585;
  font-size: 16px;
  font-family: 'Benton', sans-serif;
  font-weight: normal;
  line-height: 1.75em;
  -webkit-font-smoothing: antialiased;
}
p {
  padding-bottom: 8px;
}
h1 {
  font-family: 'Benton-Bold', sans-serif;
  font-weight: bold;
}
h1 {
  color: #505050;
}
a {
  color: #505050;
  text-decoration: none;
}
a:hover {
  border-bottom: 1px solid #505050;
}
.container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.content-wrapper {
  display: table;
  width: 100%;
  height: 100%;
}
.content {
  display: table-cell;
  vertical-align: middle;
}
.col {
  float: left;
  width: 50%;
  padding: 50px;
  height: 100%;
}
.col p {
  max-width: 460px;
}
.left {
  text-align: right;
  width: 45%;
}
.right {
  text-align: left;
  width: 55%;
}
.animate {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  transition-property: transform, opacity;
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  -ms-transition-duration: 0.6s;
  transition-duration: 0.6s;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.load-left,
.load-right {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.load-left {
  -webkit-transform: translateX(15px);
  -moz-transform: translateX(15px);
  -o-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}
.load-right {
  -webkit-transform: translateX(-15px);
  -moz-transform: translateX(-15px);
  -o-transform: translateX(-15px);
  -ms-transform: translateX(-15px);
  transform: translateX(-15px);
}
.delay-1 {
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -ms-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.delay-2 {
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  -ms-transition-delay: 1s;
  transition-delay: 1s;
}
@media (max-width: 1100px) {
  .col.left {
    width: 30%;
  }
  .col.right {
    width: 70%;
  }
}
@media (max-width: 779px) {
  .col.left,
  .col.right {
    display: block;
    text-align: left;
    height: auto;
    width: 100%;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dppx) {
  p,
  h1 {
    font-size: 36px;
  }
  .container {
    position: relative;
  }
  .content-wrapper,
  .content {
    display: block;
    position: relative;
    height: initial;
    width: auto;
  }
  .col {
    float: none;
  }
  .col.left,
  .col.right {
    display: block;
    text-align: left;
    height: auto;
    width: 100%;
    background: rgba(0,255,255,0.5);
  }
  .col.left p,
  .col.right p {
    max-width: none;
  }
}
