body {
	overflow:hidden;	
}


div.filmstrip {
	position:absolute;
	top:120px;
	left:0px;
	background-color:white;
	width:100000;
}



img.strip {
	width:100px;
	float:left;
	display:inline;
	margin-left:20px;
	
}

#fsmain {}